* {
    box-sizing: border-box;
}


body {
    background-image: url("../images/snowflakes.jpg");
    background-size: cover;
}

@font-face {
    font-family: Merkur;
    src: url('Merkur.otf')
}

.nameOfGame {
    margin: 0 auto 10px;
    width: 50%;
    height: 115px;
    text-align: center;
    /*background-color: blueviolet;
    border: 3px solid white;*/
    color: white;
    font-family: 'Merkur', Arial, Helvetica, sans-serif;
    font-size: 75px;
    padding-top: 15px;
   
}

h1 {
    color: white;
    font-family: 'Merkur', Arial, Helvetica, sans-serif;
    font-size: 75px;
    text-align: center;
    /*line-height: 60px;*/

}


.instructions {
    margin: 0 auto 10px;
    width: 70%;
    text-align: center;
    background-color: lightslategray;
    opacity: 0.75;
    filter: alpha(opacity=75);
    /*border: 3px solid  blue;
    border-radius: 10px;*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    /*box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.5)*/
}


.targetScore {
    /*float: center;
    left: 50%;*/
    /*margin: 0 auto;*/
    /*width: 25%;*/
    height: 120px;
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    color:white;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;
    
}
/*#targetNUmber {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;
}*/

#sentence {
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: transparent;
}

.results {
    /*margin: 0 auto;*/
    width: 25%;
    /*height: 100px;*/
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    line-height: 15px;
    
}

#loses #wins {
    /*float: left;
    margin: 0 auto 10px;
    width: 25%;*/
    height: 120px;
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
    
}

#theEnd {
    /*float: left;*/
    margin: 0 auto;
    /*width: 25%;*/
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 18px;
    /*padding: 5px;*/
    
}

.totalScore {
    /*margin: 0 auto;*/
    width: 25%;
    height: 120px;
    text-align: center;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 10px;
}

.crystal {
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
    clear: left;
    
    margin: 0 auto 10px;
    width: 100%;
    height: 160px;
    text-align: center;
    background-color: transparent;
    /*border: 3px solid blue;*/
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.gems {
    width: 140px;
    height: 140px;
    /*display: inline;*/
    margin: 5px;
}

#jewel1 {
    background-image: url("../images/bluesf.jpg");
    background-size: cover;
    background-color:lightslategray;
    opacity: 0.5;
    filter: alpha(opacity=50);
        
}
#jewel2 {
    background-image: url("../images/blacksf.jpg");
    background-size: cover;
    background-color: lightslategray;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#jewel3 {
    background-image: url("../images/purplesf.jpg");
    background-size: cover;background-color: lightslategray;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#jewel4 {
    background-image: url("../images/redsf.jpg");
    background-size: cover;background-color: lightslategray;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

footer {
    background-color: transparent;
}

@media only screen and (max-width: 775px) {
    h1 {
       line-height: 60px; 
    }
}

